body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
    color: white;
}

h1, h2 {
    margin: 0;
}

#about-me, #article-content {
    margin: 20px;
}

ul {
    list-style-type: none;
}

form {
    margin: 20px;
}

input[type="radio"] {
    margin-right: 10px;
}